.foto {
    display: flex; /* Используем flexbox для центрирования */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    flex-wrap: wrap; /* Позволяем изображениям переноситься на новую строку, если они не помещаются */
}

.foto img {
    max-width: 80%; /* Ограничиваем максимальную ширину изображения */
    height: auto; /* Сохраняем пропорции изображения */
    margin: 20px; /* Добавляем отступы между изображениями */
}