.card{
    flex-basis: 300px;
    box-shadow: 0 0 6px 2px silver;
    margin: 20px;
    padding: 20px 20px 40px;
    box-sizing: border-box;
}

.card img{
    width: 310px;
}

.card p{
    margin-bottom: 30px;
}

.card-action{
    margin-top: 20px;
}

.card-action a{
    background: blue;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 20px 12px;
    border-radius: 10px;
}